$dark: #0f0e17;
$white: #fffffe;
$gray: #b7bad1;
$gray2: #9fa3c1;
$orange: #ff8906;
$secondary: #f25f4c;
$tertiary: #e53170;
$purple: #b300bb;
$purple2: #a17ec8;

$ease_out_back: cubic-bezier(0.34, 1.56, 0.64, 1);

@function size($val: 16px) {
	@return ($val / 16) * 1rem;
}

@mixin xs {
	@media (min-width: 635px) {
		@content;
	}
}

@mixin sm {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin md {
	@media (min-width: 990px) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: 1024px) {
		@content;
	}
}

@mixin lg {
	@media (min-width: 1200px) {
		@content;
	}
}

@mixin xl {
	@media (min-width: 1440px) {
		@content;
	}
}
